.background-img {
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.background-img-left {
    margin-top: 108px;
}

.background-img-right {
    margin-top: 77px;
}

@media screen and (min-width: 0) and (max-width: 1024px) {
    .background-img {
        display: none;
    }
}
