.content {
    display: flex;
    justify-content: center;
}

.sale-block {
    margin-top: 70px;
    width: 1144px;
    height: 472px;
    background: #FFFFFF;
    box-shadow: 0 4px 27px rgba(0, 0, 0, 0.25);
    position: relative;
}

.sale-block-info-small {
    display: none;
}

.sale-block-info-big {
    margin: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sale-block-info-big-text {
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;
    color: #F59BAF;
    margin-top: 68px;
}

@media (min-width: 376px) {
    .sale-block-info-text-information-small_text {
        display: none;
    }

    .sale-block-info-text-information-big_text {
        margin-top: 9px;
        font-weight: 400;
        font-size: 26px;
        line-height: 35px;
        color: #666666;
        text-align: center;
    }
}

.sale-block-info-button {
    margin-top: 50px;
    cursor: pointer;
    padding: 22px 110px;
    border: 4px solid #000000;
    color: #313131;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    text-align: center;
}

@media (min-width: 376px) {
    .text-warning-small_text {
        display: none;
    }

    .text-warning-big_text {
        margin-top: 168px;
        font-weight: 400;
        font-size: 46px;
        line-height: 63px;
        color: #000000;
        text-align: center;
    }
}


@media screen and (max-width: 375px) {
    .content {
        display: flex;
        justify-content: center;
        padding: 6px;
    }

    .sale-block {
        margin-top: 57px;
        height: 339px;
        background: #FFFFFF;
        box-shadow: 0 4px 27px rgba(0, 0, 0, 0.25);
    }

    .sale-block-info-big {
        display: none;
    }

    .sale-block-info-small {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sale-block-info-small_text {
        font-weight: 700;
        font-size: 30px;
        line-height: 41px;
        color: #F59BAF;
        margin-top: 48px;
    }

    .sale-block-info-text-information-big_text {
        display: none;
    }

    .sale-block-info-text-information-small_text {
        margin-top: 2px;
        white-space: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #666666;
        text-align: center;
    }

    .sale-block-info-button {
        margin-top: 50px;
        cursor: pointer;
        padding: 20px 77px;
        border: 4px solid #000000;
        color: #313131;
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        /*width: 296px;*/
        /*height: 71px;*/
        /*left: 40px;*/
        /*top: 566px*/
    }

    .text-warning-big_text {
        display: none;
    }

    .text-warning-small_text {

        margin-top: 82px;
        font-weight: 400;
        font-size: 32px;
        line-height: 44px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
    }
}


