.footer-wrapper {
    margin-top: 61px;
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0 4px 27px rgba(0, 0, 0, 0.25);
}


.footer {
    display: flex;
    align-items: center;
}

.footer-logo {
    /*width: 124px;*/
    /*height: 99px;*/
}

.footer-logo-img {
    margin-top: 23px;
    margin-bottom: 47px;
    margin-right: 102px;
    width: 124px;
    height: 99px;
}

.footer-address {
    display: flex;
    align-items: center;
}

.footer-address__item {
    display: flex;
    align-items: center;
    margin-right: 44px;
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
    color: #000000;
}

.footer-address__item-img {
    margin-right: 5px;
}

.footer-mail {
    margin-right: 98px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
}

.footer-social {
    margin-right: 12px;
}

.footer-social-img {

}


