.header-wrapper {
    padding-top: 66px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-logo {

}

.header-logo-img {
    height: 253px;
    width: 318px;
}

.header-social {
    padding-top: 74px;
    display: flex;
    align-items: center;
}

.header-social-img {
    width: 50px;
    height: 50px;
}

.header-social-img:not(:last-child) {
    margin-right: 11px;
}

.header-social-text {
    margin-left: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #000000;
}

@media screen and (max-width: 375px)
{
    .header-wrapper {
        padding-top: 79px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-logo {

    }

    .header-logo-img {
        width: 182px;
        height: 145px;
    }

    .header-social {
        padding-top: 46px;
        display: flex;
        align-items: center;
    }

    .header-social-img {
        width: 40px;
        height: 40px;
    }

    .header-social-img:not(:last-child) {
        margin-right: 16px;
    }

    .header-social-text {
        margin-left: 19px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        text-decoration-line: underline;
        color: #000000;
    }
}