.information-about-delivery {
    margin-top: 82px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.information-about-delivery-block {
    display: flex;
    align-items: center;
}

.information-about-purchases__img {
    margin-right: 10px;
}

.information-about-purchases-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #414141;
}
