@import "reset.css";
@import "fonts.css";
@import "header.css";
@import "content.css";
@import "index.css";
@import "background.css";
@import "product.css";
@import "info_delivery.css";
@import "footer.css";


.page-wrapper {
    max-width: 1920px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F5F5;
    /*background-color: #FFFFFF;*/
}

.content {
    flex-grow: 1;
}

.header-wrapper {
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1144px;
}

