.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 100px;
}

.product-img {

}

.product-right-img {

}

.product-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-name-block {
    margin-top: 76px;
}

.product-name {
    /*margin-top: 76px;*/
    /*white-space: pre;*/
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #313131;
}

.product-size-block {
    margin-top: 14px;
    display: flex;
    align-items: center;
}

.product-size-img {

}

.product-size {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #414141;
}

.product-code {
    margin-top: 84px;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #000000;
}

.product-code-number {
    margin-top: 5px;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: #000000;
}


.product-button {
    margin-top: 20px;
    padding: 20px 36px;
    border: 3px solid #000000;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    text-align: center;
    color: #313131;
}

.product-button-catalog {
    display: flex;
    justify-content: center;
}


.product-button-catalog-link {
    width: 412px;
    display: inline-block;
    margin-top: 108px;
    padding: 20px 36px;
    border: 3px solid #000000;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    text-align: center;
    color: #313131;
}
